@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';

.app {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.sidebar {
    width: calc(100% / 3);
    border-right: 1px solid black;
}

.content {
    margin: 0;
    padding: 2rem 0 0 0;
    width: calc(100% / 3 * 2);
    height: 100%;
    overflow-y: scroll;
}

.sheet {
    width: 210mm;
    height: 296mm;
    overflow: hidden;
    box-sizing: border-box;
    page-break-after: always;
}

@media screen {
    .content {
        background: #e0e0e0;
    }

    .sheet {
        background: white;
        background-shadow: 0 0.5mm 2mm rgba(0, 0, 0, .3);
        margin: 0 auto 3rem auto;;
    }
}

