@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';

.app {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100% / 3);
    border-right: 1px solid black;
    overflow-y: scroll;
}

.sidebar .actions {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: .35rem;
}

.sidebar .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, auto-fill);
    grid-gap: 20px;
}

.sidebar .card {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    margin: .5rem;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.sidebar .card .header {
    display: flex;
    justify-content: space-between;
    padding: .5rem .25rem;
    border-bottom: 1px solid black;
}

.sidebar .card .column {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid black;
    margin: .25rem 0
}

.content {
    margin: 0;
    padding: 2rem 0 0 0;
    width: calc(100% / 3 * 2);
    height: 100%;
    overflow-y: scroll;
}

.sheet {
    width: 210mm;
    height: 296mm;
    overflow: hidden;
    box-sizing: border-box;
    page-break-after: always;
}

@media screen {
    .content {
        background: #e0e0e0;
    }

    .sheet {
        background: white;
        background-shadow: 0 0.5mm 2mm rgba(0, 0, 0, .3);
        margin: 0 auto 3rem auto;;
    }
}

button {
  border: 2px solid #1A1A1A;
  border-radius: .45rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: .3rem .3rem;
  text-align: center;
  width: 100%;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
}
