<div class="section__header">
  <div class="title">WORK EXPERIENCE</div>
  <div class="divider">
    <div class="divider__line"></div>
  </div>
</div>
<div class="section__experience">
  <div class="header">
    <div class="header__title">Senior Web Developer</div>
    <div>Jan 2023 - Present</div>
  </div>
  <div class="header">
    <div>Company Name Here</div>
    <div>Remote</div>
  </div>
  <ul class="description_list">
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Efficiently unleash cross-media information without cross-media
        value.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Quickly maximize timely deliverables for real-time schemas. Dramatically
        maintain clicks-and-mortar solutions without functional solutions.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Completely synergize resource taxing relationships via premier niche
        markets. Professionally cultivate one-to-one customer service with robust ideas.</div>
    </li>
  </ul>
  <div class="skill_list">
    <div class="skill_list__item">
      <div class="skill_list__item_text">Photoshop</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">HTML</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">CSS</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">Illustrator</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">PHP</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">JavaScript</div>
    </div>
  </div>
</div>
<div class="section__experience">
  <div class="header">
    <div class="header__title">Senior Web Developer</div>
    <div>Jan 2022 - Dec 2022</div>
  </div>
  <div class="header">
    <div>Company Name Here</div>
    <div>Remote</div>
  </div>
  <ul class="description_list">
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Collaboratively administrate empowered markets via plug-and-play
        networks.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Dynamically procrastinate B2C users after installed base benefits.
        Dramatically visualize customer directed convergence without revolutionary ROI.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Completely pursue scalable customer service through sustainable
        potentialities.</div>
    </li>
  </ul>
  <div class="skill_list">
    <div class="skill_list__item">
      <div class="skill_list__item_text">Photoshop</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">HTML</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">CSS</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">Illustrator</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">PHP</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">JavaScript</div>
    </div>
  </div>
</div>
<div class="section__experience">
  <div class="header">
    <div class="header__title">Senior Web Developer</div>
    <div>Jan 2021 - Dec 2021</div>
  </div>
  <div class="header">
    <div>Company Name Here</div>
    <div>Remote</div>
  </div>
  <ul class="description_list">
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Phosfluorescently engage worldwide methodologies with web-enabled
        technology. Interactively coordinate proactive e-commerce.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Proactively envisioned multimedia based expertise and cross-media growth
        strategies.</div>
    </li>
    <li class="description_list__item">
      <div class="description_list__item_icon">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="description_list__item_text">Completely synergize resource taxing relationships via premier niche
        markets. Professionally cultivate one-to-one customer service with robust ideas.</div>
    </li>
  </ul>
  <div class="skill_list">
    <div class="skill_list__item">
      <div class="skill_list__item_text">Photoshop</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">HTML</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">CSS</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">Illustrator</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">PHP</div>
    </div>
    <div class="skill_list__item">
      <div class="skill_list__item_text">JavaScript</div>
    </div>
  </div>
</div>