<div class="section__header section__header--skill">
    <div class="title">PROFESSIONAL SKILLS</div>
    <div class="divider">
        <div class="divider__line"></div>
    </div>
</div>
<div class="section__skill">
    <div class="container">
        <div class="item">
            <div>Photoshop</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>Illustrator</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>PHP</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>HTML</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>WordPress</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>CSS</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
        <div class="item">
            <div>Joomla</div>
            <div class="rating">
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block block--active"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
    </div>
</div>